/*Variable colors*/

$purple: #422755;
$lightPurple: #6E4B87;
$yellow: #FEAF3D;
$red: #F04837;
$gray: #414141;
$lightGray: #757575;
$lighterGray:#E5E5E5;
$black: #000;
$white: #fff;

/*Sizes*/

$title: 2.25rem; // 36px
$sub: 1.125rem; // 18px
$paragraph: 0.875rem; // 14px
$smaller: 0.75rem; // 12px
$taskBtn: 1rem; //16px

$inputHeight: 35px;

/*Device variables*/

$desktop: 1024px;
$tablet: 1023px;
$smartphone: 767px;